@import '~bootstrap/scss/_variables.scss';

body {
    overflow-x: hidden;
    color: $gray-600;
}

p,
ul,
label {
    color: $gray-600;
}

.text-shadow-sm {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.transparent {
    opacity: 0;
}

.btn {
    &.btn-transparent {
        background-color: transparent;
        color: $white;

        &.btn-border {
            border: 2px solid $white;
        }

        &:hover {
            background-color: $white;
            color: $gray-800;
        }
    }
}
