body {
    font-family: Raleway, sans-serif;
}

a {
    color: $gray-300;

    &:hover {
        color: $white;
    }
}

.text-shadow-sm {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.transparent {
    opacity: 0;
}
