@font-face {
    font-family: 'Raleway Thin';
    src: url('fonts/raleway/Raleway-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway ExtraLight';
    src: url('fonts/raleway/Raleway-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Light';
    src: url('fonts/raleway/Raleway-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('fonts/raleway/Raleway-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway SemiBold';
    src: url('fonts/raleway/Raleway-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/raleway/Raleway-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway ExtraBold';
    src: url('fonts/raleway/Raleway-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Black';
    src: url('fonts/raleway/Raleway-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
