@import "~bootstrap/scss/bootstrap";

/* TEMP */
.background {
    &--full {
        background: #3B88B1 url("images/home-page-background.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}

.content {
    margin-left: 100px;
    margin-top: 370px;
    color: $white;
    text-shadow: 0 0 5px rgba(33, 42, 60, 0.43);
}

/* Main */
.navbar {
    border-bottom-color: rgba(255, 255, 255, 0.15) !important;

    &:not(.bg-white) {
        .navbar-toggler {
            color: rgba(255, 255, 255, .8);
            border-color: rgba(255, 255, 255, .8);

            &-icon {
                background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
            }
        }
    }

    &--small {
        .logo {
            @include media-breakpoint-up(lg) {
                height: 45px;
                top: 15px;
            }
        }

        .nav-link {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
}


.section {
    &--home {
        .parallax {
            &__background {
                background: #FFF url(https://images.unsplash.com/photo-1463412855783-af97e375664b?iq=100&fm=jpg&w=1000);
                //https://source.unsplash.com/wRuZ-Nbl6mo/1600x900

                background-size: cover;
                background-position: center center;
                height: 100vh;
            }
        }

        &__intro {
            top: 43%;
        }

        &__scroll-down {
            top: 90%;
            left: calc(50vw - 25px);
            width: 50px;
        }
    }
}

.logo {
    position: absolute;
    left: 10px;
    height: 35px;
    top: 11px;

    @include media-breakpoint-up(lg) {
        top: 25px;
        height: 56px;
        left: 30px;
    }
}


