.background {
    &--full {
        background: #3B88B1 url("images/home-page-background.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}

.content {
    margin-left: 100px;
    margin-top: 370px;
    color: #FFF;

    .name {

    }
}
