.parallax {
    height: 100vh;
    -ms-flex: 1;
    overflow: hidden;

    &__background {
        position: fixed;
        width: 100%;
    }

    &__content {
        text-align: center;
        position: relative;
    }
}
